<mat-card>
  <mat-card-content>
    <table class="users-table">
      <tr>
        <th>Name</th>
        <th>Mail</th>
        <th>City</th>
      </tr>
      <tr *ngFor="let user of allUsers" [routerLink]="['/user/' + user.customId]">
        <td>{{ user.firstName }} {{ user.lastName }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.city }}</td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>

<button (click)="openDialog()" class="add-user-button" mat-fab color="primary" matTooltip="Add new user"
  [matTooltipPosition]="'above'">
  <mat-icon>add</mat-icon>
</button>